<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommender</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet"> 
</head>
<body class="bg-gray-100 font-serif">
    <div class="container mx-auto px-4 py-8 max-w-6xl">
        <h1 class="text-4xl font-bold mb-4 text-center">Recipe Recommender</h1>
        <div class="border-b-2 border-gray-300 mb-8"></div> 
        <h2 class="text-lg font-semibold mb-4">What ingredients do you have today? Remember to use a comma in between ingredients :)</h2>
        <h3 class="text-sm mb-6">eg: eggs, prawn, salt</h3>
        <form id="inputBar" method="POST" class="mb-8">
            <div class="flex mb-3">
                <input type="text" name="ingredientsInput" class="form-control flex-grow mr-2 px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500" placeholder="Enter ingredients...">
                <button class="btn btn-primary px-6 py-2 rounded-lg text-white font-semibold focus:outline-none focus:bg-blue-600" type="submit" id="submitBtn">Submit</button>
            </div>
        </form>
        {% if recommended_recipes %}
        <h2 class="text-2xl font-bold mb-4">Recommended Recipes:</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for recipe in recommended_recipes %}
            <div class="max-w-md rounded overflow-hidden shadow-lg">
                <img class="w-full" src="/static/images/Food Images/{{ recipe['Image_Name'] }}.jpg" alt="{{ recipe['Title'] }}">
                <div class="px-6 py-4">
                    <div class="text-xl mb-2"><a href="{{ url_for('recipe', recipe_title=recipe['Title']) }}" class="hover:text-blue-600">{{ recipe['Title'] }}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <script src="script.js"></script>
</body>
</html>
