<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_data['Title'] }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ recipe_data['Title'] }}</h1>
        <img src="{{ url_for('static', filename='images/Food Images/' + recipe_data['Image_Name'] + '.jpg') }}" alt="{{ recipe_data['Title'] }}">
        <h2>Ingredients:</h2>
        <ul>
            {% for ingredient in recipe_data['Ingredients'].split(',') %}
                <li>{{ ingredient.strip() }}</li>
            {% endfor %}
        </ul>
        <h2>Instructions:</h2>
        <p>{{ recipe_data['Instructions'] }}</p>
    </div>
</body>
</html>
